body {
    background-color: beige;
  }
nav{
    background-color: lightblue;
    text-align: center;
}
h1{
    font-family: Montserrat, sans-serif;;
}
#l1::after{
    content: "\a";
    white-space: pre;
}
#l2::after{
    content: "\a";
    white-space: pre;
}
#l3::after{
    content: "\a";
    white-space: pre;
}
#l4::after{
    content: "\a";
    white-space: pre;
}
#l5::after{
    content: "\a";
    white-space: pre;
}
#l6::after{
    content: "\a";
    white-space: pre;
}
#l7::after{
    content: "\a";
    white-space: pre;
}
#l8::after{
    content: "\a";
    white-space: pre;
}